.cap {
    background-image: url("../imgs/fondoheader.jpg");
    padding: 1rem 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F0FAFF;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

#titulo {
    text-align: center;
    font-family: Rockwell Nova;
}
#perro {
    float: left;
    vertical-align: center;
}

#gato {
    float: left;
    vertical-align: center;
}

#grid-cat {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding-bottom: 70px;
}

.grid_elementos {
    padding: 35px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#titulo h1{
    font-family: "Roboto Light";
}

section.cat div h2 {
    text-align: center;
    margin-top: 1px;
    font-family: Trebuchet MS;
    color: black;

}

header.cap h3 {
    padding-top: 15px;
    font-family: "Brush Script MT";
    font-size: 300%;
    line-height: 1px;
}

.boton{
    margin: 4px;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    font-family: helvetica;
    font-weight: 200;
    font-size: 20px;
    font-family: Dubai Light;
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    background-color: white;
}
.boton:hover{
    border: 2px solid #868686;
    opacity: 0.9;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 20px;

}

.foto_catgeories {
    width: 300px;
    height: 280px;
    object-fit: cover;
    padding: 5px;
    border-radius:50%;
}

.foto_catgeories:hover {
    background: #83e6e1;
    opacity: 0.9;
}


.producto {
    margin: 50px;
    background-color: #83e6e1;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 2px grey;
    box-sizing: border-box;
}

.producto h1 {
    font-size: 97%;
    font-family: SimSun;
}

.boton_detalles {
    background-color: salmon;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Constantia;
    margin-top: 20px;
    border-radius: 5px;
}

.boton_correcto {
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Constantia;
    margin-top: 20px;
    border-radius: 5px;
}

.boton_incorrecto {
    background-color: salmon;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Constantia;
    margin-top: 20px;
    border-radius: 5px;
}

.boton_detalles:hover {
    opacity: 70%;
}

.foto_producte {
    float: left;
    vertical-align: center;
    margin-right: 75px;
    border: 2px solid black;
}

.descripcion h1{
    font-size: x-large;
    padding-bottom: 30px;
    text-decoration: underline black;
}

.descripcion p {
    padding-top: 30px;
    text-align: left;
}

.dropbtn {
    margin-right: 20px;
    font-size: 16px;
    border: none;
    width: 40px;
    height: 40px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {border: 2px solid #868686; opacity: 0.9; border-radius: 50%;}

.carrito{
    margin-right: 20px;
    font-size: 16px;
    border: none;
    width: 40px;
    height: 40px;
}

.carrito:hover {
    border: 2px solid #868686; opacity: 0.9; border-radius: 50%;
}

#grid-carrito {
    display: grid;
}

section.carrito_s div h2 {
    text-align: center;
    margin-top: 1px;
    font-family: Trebuchet MS;
    color: black;
}

.producto_carrito {
    margin: 50px;
    background-color: #83e6e1;
    padding: 10px;
    box-shadow: 5px 5px 2px grey;
    box-sizing: border-box;
}

.producto_carrito h1 {
    font-size: 150%;
    font-family: SimSun;
}

.resumen-carrito {
    margin: 50px;
    background-color: #83e6e1;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 2px grey;
    display: inline-block;
}
a {
    text-decoration: none;
}
.section-resumen-carrito {

    text-align: right;
}
.barra_botones {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;
}

.boton_carrito {
    background-color: salmon;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Constantia;
    margin-right: 15px;
    margin-top: 40px;
    border-radius: 5px;
}
section.missatge h1 {
    padding: 30px;
    text-align: center;
    color: white;
}

section.missatge h1 span {
    padding: 10px;
    border-radius: 10px;
    background-color: salmon;
}

section.missatge h1 span a {
    color: white;
}